.welcome__background > * {
    z-index: 2;
}

.welcome__background:after {
    -webkit-animation: grain 8s steps(10) infinite;
            animation: grain 8s steps(10) infinite;
    background-image: url("paper.png");
    content: "";
    display: block;
    height: 300%;
    left: -50%;
    position: fixed;
    width: 200%;
    top: -120%;
    opacity: 0.3; 
    overflow: hidden;
  z-index: 1;
}

@-webkit-keyframes grain {
    0%, 100% { -webkit-transform:translate(0, 0); transform:translate(0, 0) }
    10% { -webkit-transform:translate(-5%, -10%); transform:translate(-5%, -10%) }
    20% { -webkit-transform:translate(-15%, 5%); transform:translate(-15%, 5%) }
    30% { -webkit-transform:translate(7%, -25%); transform:translate(7%, -25%) }
    40% { -webkit-transform:translate(-5%, 25%); transform:translate(-5%, 25%) }
    50% { -webkit-transform:translate(-15%, 10%); transform:translate(-15%, 10%) }
    60% { -webkit-transform:translate(15%, 0%); transform:translate(15%, 0%) }
    70% { -webkit-transform:translate(0%, 15%); transform:translate(0%, 15%) }
    80% { -webkit-transform:translate(3%, 35%); transform:translate(3%, 35%) }
    90% { -webkit-transform:translate(-10%, 10%); transform:translate(-10%, 10%) }
  }

@keyframes grain {
    0%, 100% { -webkit-transform:translate(0, 0); transform:translate(0, 0) }
    10% { -webkit-transform:translate(-5%, -10%); transform:translate(-5%, -10%) }
    20% { -webkit-transform:translate(-15%, 5%); transform:translate(-15%, 5%) }
    30% { -webkit-transform:translate(7%, -25%); transform:translate(7%, -25%) }
    40% { -webkit-transform:translate(-5%, 25%); transform:translate(-5%, 25%) }
    50% { -webkit-transform:translate(-15%, 10%); transform:translate(-15%, 10%) }
    60% { -webkit-transform:translate(15%, 0%); transform:translate(15%, 0%) }
    70% { -webkit-transform:translate(0%, 15%); transform:translate(0%, 15%) }
    80% { -webkit-transform:translate(3%, 35%); transform:translate(3%, 35%) }
    90% { -webkit-transform:translate(-10%, 10%); transform:translate(-10%, 10%) }
  }