/* Coolors Exported Palette - coolors.co/424b54-eee5e9-00baa1-ed899a-3f1d3e */

/* HSL */
$color1: hsla(210%, 12%, 29%, 1);
$color2: hsla(333%, 21%, 92%, 1);
$color3: hsla(172%, 100%, 36%, 1);
$color4: hsla(350%, 74%, 73%, 1);
$color5: hsla(302%, 37%, 18%, 1);

/* RGB */
$color1: rgba(66, 75, 84, 1);
$color2: rgba(238, 229, 233, 1);
$color3: rgba(0, 186, 161, 1);
$color4: rgba(237, 137, 154, 1);
$color5: rgba(63, 29, 62, 1);