.about-me {
    @include container;
    @include clearfix;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 2fr 7fr;
    grid-template-rows: 2fr 1fr;
}


   
.about-img {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    object-fit: cover;
    height: 100%;
}

.about-title {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    align-self: end;
    color: $white;
    font-size: $fs-xxl;
    font-weight: $fw-b;
    padding: 0;
    margin: 0;
    line-height: 1.2;
}

.about-text {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    align-self: center;
    color: $white;
    padding-right: 6em;
    font-size: $fs-m;
    margin-bottom: 2em;
}

@media screen and (max-width: 1200px) {
    .about-text {
        font-size: $fs-m;
    }
}

@media screen and (max-width: 48em) {

    .about-me {
        height: 110vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr 5fr; 
    }
       
    .about-img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        min-width: 100vw;
    }
    
    .about-title {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        align-self: center;
        color: $white;
        padding-top: 1em;
        line-height: 1.2;
        text-align: center;
        font-size: $fs-ml;
    }
    
    .about-text {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        padding: 0 20px;
        align-self: start;
        color: $white;
        font-size: $fs-m;  
    }
    
}