.about__me {
    background:$white;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(0,8%) minmax(0,4fr) minmax(0,2fr) minmax(0,8%);
    grid-template-rows: 6% 1fr 1.5fr 6%;
    grid-gap: 1em;
    color:$black;	
}

.about__title {
    grid-column: 2;
    grid-row: 2 / 3;
    align-self: end;
    padding-top: 10%;
    margin: 0;
    font-family: $font-heading;
    text-transform: uppercase;
    font-size: 8em;
    line-height: .8em;
    font-weight: $fw-bold;
    opacity: .6;

    span {
        color: $base;
    }
}

.about__text {
    grid-column: 2;
    grid-row: 3 / 4;
    align-self: end;
    text-align: justify;
    font-family: $font-text;
}

.about__img {
    grid-column: 3;
    grid-row: 2 / 5;
    max-height: 78%;
    object-fit: cover;
    align-self: end;
    justify-self: end;
}



/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
//////////////////        MEDIA QUERIES        //////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

//screen bigger than 1650px gehts more distance on the sides//
 @media screen and (min-width: 1650px) {

     .about__me {
        grid-template-columns: 12% 4fr 2fr 12%;
 }
}

 @media screen and (max-width: 1600px) {

    .about__title {
        font-size: 7em;
    }
   
}

@media screen and (max-width: 1500px) {

    .about__title {
        font-size: 6em;
    }
   
}

@media screen and (max-width: 1400px) {

    .about__title {
        font-size: 5em;
    }
    .about-img {
        max-height: 60%;
    }
   
}