@media screen and (min-width: 50em) {
  html {
    font-size: 2vw;
  }
}

body {
    font-family: $font-text;
    line-height: 1.1;
}
* {
    box-sizing: border-box;
}




img {
    max-width: 100%;
}




