body {
    font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
    font-family: $font-text;
    line-height: 1.1;
}
* {
    box-sizing: border-box;
}




img {
    max-width: 100%;
}




