// top-background
.welcome__background {
    background-color: $main-color;
    grid-column: 1/-1;
    grid-row: 1/8;
    height: 90vh;
    margin-top: 0 !important;
    display: block;
    position: relative;
    overflow: hidden;
}

    // POLYPIXX-LOGO
    .dog__illustration {
        grid-column: 2/14;
        grid-row: 1/7;
        align-self: start;
        justify-self: center;
        margin-top: $space-xl;
        margin-bottom: $space-xl;
        z-index: 3; 
    }


    // WEB-DESIGN+FOTO-GRAFIE
    .about__title {
        grid-column: 2/14;
        grid-row: 8/13;
        margin: 0;
        font-family: $font-heading;
        text-transform: uppercase;
        line-height: .8em;
        font-weight: $fw-bold;
        z-index: 5;

        span {
            color: $logo-color-light;
        }
    }

    .about__text {
        grid-column: 3/9;
        grid-row: 13/16;
        font-family: $font-text;
        margin-top: $space-xl;
        color: $headline;
    }

    .underline1::after {
        content: '';
        display: block;
        height: 30px;
        // width: 190px;
        bottom: -80px;
        left: 0;
        background-color: $logo-color-light;

    }

    .about__img {
        grid-column: 10/14;
        grid-row: 15/18;
        justify-self: end;
    }




    @media only screen and (max-width: 1200px) {

        .underline {
            border-bottom: 24px solid $logo-color-light;
        }

        .underline__kontakt {
            border-bottom: 24px solid $background;
        }
    }

    @media only screen and (max-width: 1024px) {
        .about__img {
            grid-column: 2/14;
            grid-row: 17/18;
            margin-top: $space-xl;
        }
    }

    @media only screen and (max-width: 768px) {

        //    .welcome__background {
        //     height: 60vh;
        // }

        .underline {
            border-bottom: 15px solid $logo-color-light;
        }

        .underline__kontakt {
            border-bottom: 15px solid $background;
        }

        .about__img {
            grid-column: 2/14;
            grid-row: 17/22;
            max-width: 30vw;
            margin-top: $space-xl;
        }
    }

    @media only screen and (max-width: 360px) {

      .about__title {
          grid-row: 7/13;
      }
      .about__text {
          grid-column: 2/14;
          text-align: left;
          z-index: 2;
      }
      .about__img {
        grid-column: 2/14;
        grid-row: 17/18;
        max-width: 70vw;
        justify-self: center;
    }

    }