.contact__section {
    padding-top: $space-between;
    padding-bottom: $space-between;
	display: grid;
    grid-template-columns: minmax(20px, 1fr) repeat(12, minmax(auto, $col)) minmax(20px, 1fr);
    grid-template-rows: auto;
    background-color: $color5;
}

.contact__title {
    grid-column: 2/14;
	grid-row: 1/2;		
    text-align: center;
    color: $logo-color;
	font-family: $font-heading;
	margin: 0;
	font-weight: $fw-bold;
}

.contact__text {
    grid-column: 2/14;
    grid-row: 3/4;
    text-align: center;
    color: $black;
    font-family: $font-sub_heading;
    margin: 1em;
    font-size: 2em;
    font-style: italic;
}

.contact__email {
    grid-column: 2/14;
    grid-row: 5/6;
    justify-self: start;
    text-align: center;


    a:hover {
        color: $white;
        border-bottom: 2px solid white;
        transition: 1s;
    }
}

.contact__github {
    grid-column: 2/14;
    grid-row: 5/6;
    justify-self: center;
    text-align: center;


    a:hover {
        color: $white;
        border-bottom: 2px solid white;
        transition: 1s;
    }
}

.contact__linkedin {
    grid-column: 2/14;
    grid-row: 5/6;
    justify-self: end;
    text-align: center;
    
    a:hover {
        color: $white;
        border-bottom: 2px solid white;
        transition: 1s;
    }

}

.title {
    color: $white;
    font-family: $font-sub_heading;
    font-size: 4em;
    margin: 0 0 .5em;
}

.link {
    color: $black;
    font-family: $font-text;
    font-weight: $fw-bold;
    text-decoration: none;
    text-align: center;
    }

  


////////////////// footer /////////////////////////////
.footer {
    height: 5em;  
    color: $white;
    text-align: center;
    
    background: $black;

    p {
        padding: 1.9em 0;
        opacity: .4;
        margin: 0;
    }
}

.adress {
    grid-column: 2/5;
    grid-row: 4;
    font-family: $font-text;
    justify-self: center;
}
