.contact {
    // height: 80vh;
    display: grid;
    grid-template-columns: 8% 1fr 1fr 1fr 8%;
    grid-template-rows: 4fr 2fr 2fr 1fr;
    grid-gap: 20px;
    text-align: center;
    background-color: $color5;
}

.contact__title {
    color: $logo-color;
    font-family: $font-heading;
    font-size: 12em;
    font-weight: $fw-bold;
    margin: .5em 0 0;
    grid-column: 2/5;
    grid-row: 1;
    align-self: end;
    justify-self: center;
}

.contact__text {
    color: $black;
    font-family: $font-sub_heading;
    text-align: center;
    margin: 1em;
    font-size: 2em;
    grid-column: 2/5;
    grid-row: 2;
    align-self: start;
    justify-self: center;
}

.contact__email__column {
    grid-column: 2/3;
    grid-row: 3;
    text-align: center;

    a:hover {
        color: $white;
        border-bottom: 2px solid white;
        transition: 1s;
    }
}

.contact__github__column {
    grid-column: 3/4;
    grid-row: 3;
    text-align: center;

    a:hover {
        color: $white;
        border-bottom: 2px solid white;
        transition: 1s;
    }
}

.contact__linkedin__column {
    grid-column: 4/5;
    grid-row: 3;
    text-align: center;

    a:hover {
        color: $white;
        border-bottom: 2px solid white;
        transition: 1s;
    }
}

.email__title,
.github__title,
.linkedin__title {
    color: $white;
    font-family: $font-sub_heading;
    font-size: 4em;
    margin: 0 0 .5em;
}

.email__link,
.github__link,
.linkedin__link {
    color: $black;
    font-family: $font-text;
    font-weight: $fw-bold;
    text-decoration: none;
    }


////////////////// footer /////////////////////////////
.footer {
    height: 5em;  
    color: $white;
    text-align: center;
    
    background: $black;

    p {
        padding: 1.9em 0;
        opacity: .4;
        margin: 0;
    }
}

.adress {
    grid-column: 2/5;
    grid-row: 4;
    font-family: $font-text;
    justify-self: center;
}
