
/*** Header Styles ***/
header {
	@include object(100vw,16vh,$background);
	display: flex;
}

/*** Navigation Styles ***/
nav {
	@include object(100vw,16vh,$background);
	display: grid;
	grid-template-columns: minmax(20px, 1fr) repeat(12, minmax(auto, $col)) minmax(20px, 1fr);
	position: fixed;
	z-index: 10;
	transition: all 0.3s;
	&.navShadow {
		box-shadow: 0 4px 30px -5px rgba(#000, 0.2);
		height: 100px;
		#word-mark {
			opacity: 0;
		}
	}
}

#menu, ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

// polypix left position
#word-mark {
	grid-column: 2/7;
	display: flex;
	align-items: center;
	opacity: 1;
	transition: all 0.3s;
	font-size: 6vmin;
}
.wm-style {
	font-family: $font-heading;
	font-weight: $fw-bold;
}
.style-1 {
	color: $logo-color;
}
.style-2 {
	color: $logo-color-light;
}

//  Menu Styles 
#menu {
	grid-column: 9/14;
	justify-content: flex-end;
}

li {
	margin-left: 20px;
	width: 80px;
	height: 20px;
    
	a {
		// @include object(80px,20px,$accent);
		display: block;
		font-family: $font-text;
		text-decoration:none;
	}
	a:hover {
        color: $white;
        border-bottom: 2px solid white;
        transition: 1s;
    }
}



#menu-toggle {
	@include object(55px,55px,$background-dark);
	@include center;
	border-radius: 50%;
	cursor: pointer;
	display: none;
	&:hover .bar {
		width: 25px;
	}
	&.closeMenu {
		.bar {
			width: 25px;
			&:first-child {
				transform: translateY(7px) rotate(45deg);
			}
			&:nth-child(2) {
				transform: scale(0);
			}
			&:last-child {
				transform: translateY(-7px) rotate(-45deg);
			}
		}
	}
}

.bar {
	@include object(25px,2px,$logo-color);
	transition: 0.3s ease-in-out;
	&:nth-child(2) {
		width: 20px;
		margin: 5px 0;
	}
	&:last-child {
		width: 15px;
	}
}

/*** Hero Section Styles ***/
#hero-section {
	@include object(100vw,calc(100vh - 16vh),null);
	// @include center;
	margin-top: 16vh;
}

// #head-line {
// 	@include object(520px,30px,$accent);
// 	border-radius: 90px;
// 	position: relative;
// 	&:before,
// 	&:after {
// 		content: "";
// 		height: 30px;
// 		border-radius: 90px;
// 	}
// 	&:before {
// 		@include object(360px,null,$accent);
// 		@include transPos(-60px,null,null,50%,-50%,0);
// 	}
// 	&:after {
// 		@include object(200px,null,$accent);
// 		@include transPos(null,null,-60px,50%,-50%,0);
// 	}
// }

/*** Section Styles ***/
section {
	@include object(100vw,calc(100vh - 100px),null);
	display: flex;
	justify-content: center;
	&:nth-child(odd) {
		background: $pink;
	}
	&:nth-child(even) {
		background: $aqua;
	}
}

#heading {
	@include object(120px,20px,$accent);
	border-radius: 90px;
	margin-top: 40px;
}

/*** Responsive Menu For Smaller Device ***/

@media screen and (max-width: 767px) {
	#menu-toggle {
		display: flex;
	}
	ul {
		display: inline-block;
		@include object(100vw,0,$main-color-dark);
		@include transPos(16vh,null,null,null,null,null);
		box-shadow: 0 5px 30px -4px rgba(#000, 0.2);
		transition: all 0.3s;
		&.showMenu {
			height: 100px;  //Höhe des mobile menus
			li {
				height: 80px;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	li {
		float: left;
		padding-left: 40px;
		opacity: 0;
		visibility: hidden;
		margin-left: 0;
		transition: all 0.3s 0.1s;
		&:first-child,
		&:nth-child(2),
		&:last-child {
			margin-top: 40px;
		}
	}
	#head-line {
		transform: scale(0.8);
	}
}

