
.portfolio__title {
	grid-column: 2/14;
	grid-row: 18/19;
	align-self: start;
	font-family: $font-heading;
	margin-top: $space-between;
	margin-bottom: 0;
	font-weight: $fw-bold;
	font-size: 16vmin;
}

.portfolio__text {
	color: $black;
	font-family: $font-sub_heading;
	font-weight: $fw-regular;
	margin-bottom: $space-between;
	grid-column: 2/8;
	grid-row: 19/20;
	align-self: start;
}

// PORTFOLIO WORK //

/////////////////MASSENÜBERWACHUNG///////////////////////	
.massen__background {
	grid-column: 4/-1;
	grid-row: 20/28;
	background-color: $main-color-light;
	margin-bottom: $space-xl;
	border-radius: 10px 0 0 10px;
}

.massen__img {
	grid-column: 5/14;
	grid-row: 20/28;
	justify-self: end;
	margin-bottom: $space-xl;
}

.massen__text__container {
	grid-column: 2/5;
	grid-row: 22/25;
	justify-self: start;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	@include text__background__style;
}

.massen__title {
	@include work__title__style;
}

.massen__desc {
	@include work__desc__style;
}

.massen__text {
	@include work__text__style;
}

/////////////////FRISEURAKADEMIE///////////////////////	
.friseur__background {
	grid-column: 1/12;
	grid-row: 29/37;
	background-color: $sub-color-light;
	margin-bottom: $space-xl;
	border-radius: 0 10px 10px 0;
}

.friseur__img {
	grid-column: 2/10;
	grid-row: 29/37;
	justify-self: start;
	margin-bottom: $space-xl;
}

.friseur__text__container {
	grid-column: 10/14;
	grid-row: 31/34;
	display: grid;
	justify-self: end;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	@include text__background__style;
}

.friseur__title {
	@include work__title__style;
}

.friseur__desc {
	@include work__desc__style;
}

.friseur__text {
	@include work__text__style;
}


/////////////////RECIPE///////////////////////	
.recipe__background {
	grid-column: 4/-1;
	grid-row: 37/45;
	background-color: $logo-color;
	margin-bottom: $space-xl;
	border-radius: 10px 0 0 10px;
}

.recipe__img {
	grid-column: 5/14;
	grid-row: 37/45;
	justify-self: end;
	margin-bottom: $space-xl;
}

.recipe__text__container {
	grid-column: 2/5;
	grid-row: 39/42;
	justify-self: start;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	@include text__background__style;
}

.recipe__title {
	@include work__title__style;
}

.recipe__text {
	margin: 1em;
	@include work__text__style;
}

/////////////////CODEFACTORY///////////////////////	
.code__background {
	grid-column: 2/10;
	grid-row: 46/54;
	background-color: $background;
	margin-bottom: $space-xl;
}

.code__img {
	grid-column: 2/10;
	grid-row: 46/54;
	justify-self: start;
	margin-bottom: $space-xl;
}

.code__text__container {
	grid-column: 10/14;
	grid-row: 48/51;
	justify-self: end;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	@include text__background__style;
}

.code__title {
	@include work__title__style;
}

.code__desc {
	@include work__desc__style;
}

.code__text {
	@include work__text__style;
}


/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
//////////////////        MEDIA QUERIES        //////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

@media only screen and (max-width: 1024px) {
	
	.massen__text__container {
		grid-column: 5/14;
		grid-row: 27/28;
		text-align: left;
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		padding: 0.8em;
		margin-bottom: $space-lg;
	}
	.massen__title {
		margin-bottom: 0.5em;
	}
	.massen__desc {
		margin: 0 !important;
	}
}

@media only screen and (max-width: 1024px) {
	
	.friseur__text__container {
		grid-column: 2/10;
		grid-row: 36/37;
		justify-self: start;
		text-align: left;
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		padding: 0.8em;
		margin-bottom: $space-lg;
	}
	.friseur__title {
		margin-bottom: 0.5em;
	}
	.friseur__desc {
		margin: 0 !important;
	}
}

@media only screen and (max-width: 1024px) {
	
	.recipe__text__container {
		grid-column: 5/14;
		grid-row: 44/45;
		justify-self: end;
		text-align: left;
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		padding: 0.8em;
		margin-bottom: $space-lg;
	}
	.recipe__title {
		margin-bottom: 0.5em;
	}
	.recipe__text {
		margin: 0!important;
	}
}

@media only screen and (max-width: 1024px) {
	.code__text__container {
		grid-column: 2/10;
		grid-row: 53/54;
		justify-self: start;
		text-align: left;
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		padding: 0.8em;
		margin-bottom: $space-lg;
	}
	.code__title {
		margin-bottom: 0.5em;
	}
	.code__desc {
		margin: 0 !important;
	}
}

@media only screen and (max-width: 550px) {
	.work__background {
		grid-column: 2/14;
	}
	.image {
		grid-column: 2/14;
	}
}