.welcome {
    background-image: linear-gradient(to top, #fd7379 0%, #fec7c9 99%, #fec7c9 100%);
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    grid-template-rows: 2fr 3fr 1fr 1fr;
}

.welcome-logo {
    grid-column: 2 / 3; 
    grid-row: 2 / 3; 
    justify-self: center;
    align-self: end;
}

.welcome-text {
    grid-column: 2 / 3; 
    grid-row: 3 / 4; 
    justify-self: center;
    align-self: start;

        h4 {
            font-size: .7em;
            font-weight: $fw-l;
            color: $white;
            display: inline;
       
                span {
                    font-weight: $fw-b;
                    color: $white;
                }
            }
}

@media screen and (max-width: 768px) {

    .welcome {
        grid-template-columns:8% 1fr 8%;
        grid-template-rows: 2fr 2fr 1fr;
    }

    .welcome-logo {
        grid-column-start: 2 / 3; 
        grid-row-start: 2 / 3;  
    }

    .welcome-text {
        grid-column-start: 2 / 3; 
        grid-row-start: 3 / 4; 
        align-self: start;

        h4 {
            // font-size: 2.7em;
        }
    }
   }


