// ############################################
// ##### basic design plus mobile design ######
// ############################################
.portfolio {
    text-align: center;
    color: $white;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
}   

.portfolio h3 {
    margin: 0;
    padding: 1.5em 0 .5em 0;
    font-size: 3em;
    font-weight: $fw-b;
}

.portfolio h5 {
    padding-bottom: 2em;
    font-size: .5em;
    font-weight: $fw-l;
}

.portfolio-items {
    padding: 0 8% 2em 8%;
} 

.portfolio-item {
    position: relative;
    overflow: hidden;

    img {
        display: block;
    }

    &:hover figcaption,
    &:focus figcaption {
        top: 0;
    }
}

.featured figcaption {
    @include portfolio-item;
    background: rgba(#04fd83, .9);
}

.second figcaption {
    @include portfolio-item;
    background: rgba(#fec7c9, .8);
}

.third figcaption {
    @include portfolio-item;
    background: rgba(#fd7379, .75);
}

.fourth figcaption {
    @include portfolio-item;
    background: rgba(#bfe6ff, 10);
}

.fith figcaption {
    @include portfolio-item;
    background: rgba(#028c86, .75);
}

.sixth figcaption {
    @include portfolio-item;
    background: rgba(#c1a4d3, .8);
}

.seventh figcaption {
    @include portfolio-item;
    background: rgba(#c1a4d3, .8);
}

.portfolio-title {
   margin: 0;
   font-weight: $fw-n;
   font-size: 1em;

   .featured & {
       font-weight: $fw-b;
       font-size: 1.2em;
   }
}

.portfolio-desc {
        display: block;
        font-weight: $fw-l;
        font-size: .9em;  
        
        .featured & {
            font-weight: $fw-n;
        }
}

.portfolio-link {
    margin: 0;
    color: $white;
    text-decoration: none;
    border-bottom: 2px solid $white; 
}

.portfolio-item figcaption h2 p{
    margin-top: 80%;
}
   


// ########################
// ##### grid design ######
// ########################
@supports (display: grid) {
    .portfolio-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    // you can put the class "featured" on every
    // portfolio item and it will appear as the
    // first item
    // .portfolio-item.featured {
    //     grid-column: 1 / span 2;
    //     grid-row: 1 / span 2;
    // }
}
