// ############################################
// ##### basic design plus mobile design ######
// ############################################
.portfolio {
    text-align: center;
    padding: 4em 0;
    background-image: linear-gradient(to top, #fd7379 0%, #56d2cb 100%);
}   

.portfolio h3 {
   
    margin: 0;
    padding-bottom: .5em;
    color: $white;
    font-size: $fs-xxl;
    font-weight: $fw-b;
}

.portfolio-item {
    position: relative;
    overflow: hidden;

    img {
        display: block;
    }

    &:hover figcaption,
    &:focus figcaption {
        top: 0;
    }
}

.featured figcaption {
    @include portfolio-item;
    background: rgba(#04fd83, .9);
}

.second figcaption {
    @include portfolio-item;
    background: rgba(#fec7c9, .8);
}

.third figcaption {
    @include portfolio-item;
    background: rgba(#fd7379, .75);
}

.fourth figcaption {
    @include portfolio-item;
    background: rgba(#bfe6ff, .9);
}

.fith figcaption {
    @include portfolio-item;
    background: rgba(#028c86, .75);
}

.sixth figcaption {
    @include portfolio-item;
    background: rgba(#c1a4d3, .8);
}

.portfolio-title {
   margin: 0;
   font-weight: $fw-l;
   font-size: $fs-ml;
  
}

.portfolio-link {
    margin: 0;
    color: $white;
    text-decoration: none;
    border-bottom: 2px solid $white;
    align-self: flex-start;
}


// ########################
// ##### grid design ######
// ########################
@supports (display: grid) {
    .portfolio-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    // you can put the class "featured" on every
    // portfolio item and it will appear as the
    // first item
    .portfolio-item.featured {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
}
