$black: #000000;

$white: #faf7eb;

// main color sheme  //

$light_lila: #bfb5d7;   //welcome and startpage color
$dark_lila: #78708C;   //contact and ending color

$base: #FF747A;  //main color logo

$light_bluegray: #818d92;
$dark_bluegray: #3D5D72;

$petrol: #669096;


$baselight : #fec7c9;
$middle1: #fd8f94;
$middle2: #feabaf;



// scrolling letters //

$color-text: #fff;
$color-bg: #FFFAF0;
$color-link: #93fbfb;
$color-link-hover: #fff;
$color-info: #fff;
$color-main-text: #93fbfb;
$color-scroll-text: #fff;