@import url('https://fonts.googleapis.com/css?family=Advent+Pro:100,300,500,700|EB+Garamond:500,600,700|Open+Sans: 700');

$col: calc((1200px - (11 * 10px)) / 12); /*($wrapperWidth - ($numberOfGutters * $gutterWidth)) / $numberOfColumns */



$font-heading: 'Advent Pro',
sans-serif;

$font-sub_heading: 'EB Garamond',
serif;

$font-text: 'Open Sans',
sans-serif;



// open sans
$fw-regular: 400;

// garamond
$fw-medium: 500;
$fw-semi-bold: 600;

// advent pro
$fw-thin: 100;
$fw-light: 300;
$fw-medium: 500;

// open sans, garamond, advent pro
$fw-bold: 700;



// scrolling letters //
$font-scroll-text: 'Advent Pro',
sans-serif;
$fontsize-scroll-text: 8vw;


$letter-spacing: 10px;