@import url('https://fonts.googleapis.com/css?family=Advent+Pro');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,800" rel="stylesheet');

$font-logo: 'Advent Pro', san-serif;
$font-heading: 'Raleway', san-serif;

$font-text: 'Raleway', san-serif;

$fs-s: .7em;
$fs-m: .9em;
$fs-l: 1.1em;
$fs-ml: 2.5em;
$fs-xxl: 5em;

$fw-l: 300;
$fw-n: 400;
$fw-b: 800;

$letter-spacing: 10px;