@import url('https://fonts.googleapis.com/css?family=Advent+Pro:700|Lora:400i,800|Open+Sans&display=swap');


$font-heading: 'Advent Pro',
sans-serif;

$font-sub_heading: 'Lora',
serif;

$font-text: 'Open Sans',
sans-serif;


// open sans
$fw-regular: 400;


// lora
$fw-regular: 400;
$fw-extrabold: 800;

// advent pro
$fw-bold: 700;



// SPACING //
$space-sm: 0.25rem;
$space-med: 0.5rem;
$space-lg: 1rem;
$space-xl: 2rem;
$space-xxl: 4rem;
$space-between: 8rem;

// GRID //
$col: calc((1200px - (11 * 10px)) / 12);
/*($wrapperWidth - ($numberOfGutters * $gutterWidth)) / $numberOfColumns */